/* body {
  overflow-x: hidden;
} */
.btn {
  font-size: 11px;
}
.fa {
  font-size: 12px;
}
.mbl,
.mail {
  font-size: 13px;
}
.nav-item {
  font-size: 13px;
}
.bg-image {
  background-image: url("/Images/bgimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .sub-col {
  padding-left: 12%;
}
.heading {
  text-align: center;
  padding-top: 5%;
}
.heading p {
  font-size: 12px;
}
.offer {
  padding: 1% 15%;
}
.offer .card-body {
  padding: 1% 0%;
}
.offer .card-title {
  padding: 3% 0%;
  font-size: 17px;
}
.offer .card-text {
  font-size: 13px;
}
.fix {
  margin-top: 8%;
  background: #fbf9f9;
}
.fix .sub-col1 {
  padding-left: 15%;
}
.fix .sub-col2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fix p {
  font-size: 13px;
}
.discount {
  padding: 7% 15%;
  background: linear-gradient(rgba(255, 0, 234, 0.8), rgba(255, 0, 234, 0.8)),
    url(/Images/img5.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.discount .form-control {
  border: 1px solid #f782ee;
  background-image: linear-gradient(
    rgba(255, 0, 234, 0.8),
    rgba(255, 0, 234, 0.8)
  );
  border-radius: 0;
  margin-top: 7%;
}
.discount .btn-estimate {
  margin-top: 7%;
}
.form-control::placeholder {
  color: white;
}
.bg-color {
  background: linear-gradient(to bottom right, #33ccff 0%, #6600cc 100%);
}
.bg-color span {
  font-size: 13px;
}
.bg-color .slider-nav {
  margin: 7% 11% 0% 11%;
}
.slick-next,
.slick-prev {
  display: none !important;
}
.bg-color .slick-slider .slick-track {
  margin-bottom: 11%;
}
.bg-color .card {
  border-radius: 0 !important;
}
.bg-color .slick-initialized .slick-slide {
  margin: 0 10px;
  width: 330px;
}
.bg-color p {
  text-align: center;
  font-size: 11px;
  color: #afadad;
}
.bg-color .sub-text {
  font-size: 10px;
  padding-bottom: 5%;
}
.bg-color .slick-dots {
  bottom: 45px;
}
.bg-color .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}
.bg-color .slick-dots li button:before {
  color: #ebd8d8;
}
/*--------------------------------Media Queries---------------------------------------*/
@media (max-width: 1399.98px) {

}
@media (max-width: 1100px) {
  .bg-color .slick-dots {
    bottom: 25px;
}
}
@media (max-width: 992px){
  .bg-color .slick-dots {
    bottom: 25px;
}
}
@media (max-width: 768px) {
  .bg-color .slick-dots {
    bottom: 16px ;
}
}
@media (max-width: 575.98px) {
  .bg-color .slick-dots {
    bottom: -7px ;
  }
}

